body{
    background-color: rgb(195, 245, 245);
}
button {
    padding: 1em 1em;
    border-radius: 13px;
    outline:0 ;
    color:white;
    background-color: rgb(18, 18, 95);
    font-size: 18px;
}
ul li {
    padding: 10px 10px;
    color: rgb(50, 22, 77);
}