body{
    background-color: blueviolet;
}
button{
    padding: 1em ;
    background-color: rgb(13, 13, 71);
    color:white;
    outline: 0;
    font-size: 18px;
    border-radius: 13px;
}
#message{
    font-size: 20px;
    font-weight: bold;
}
div{
   margin : 40px 300px;   
} 