
button{
    padding: 1em ;
    background-color: rgb(13, 13, 71);
    color:white;
    outline: 0;
    font-size: 18px;
    border-radius: 13px;
}

#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }